name: Build and Publish Regulatory Library

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write  # Required for GitHub Pages Deployment API
  id-token: write  # Required for authentication with GitHub Pages Deployment API

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build site
        run: |
          mkdocs build --clean
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}